.paginaCampanha {
  padding: 40px;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffffff, #e9e2f8);
  height: 95vh;
}

.tituloCampanha {
  font-size: 2rem;
  color: #6e59a5;
  margin-bottom: 20px;
}

.filtroCampanha {
  margin: 20px 0;
}

.listaCampanhas {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header input {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}

.filtros {
  margin: 20px 0;
}

.header Button {
  background-color: #a88df0;
  margin-left: 10px;
  border: none;
}

.header button:hover {
  background-color: #8f78cc;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.cardInfo {
  flex: 1;
}

.cardActions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.cardCampanha {
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(100, 100, 111, 0.2);
}

.cardCampanha h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardCampanha p {
  font-size: 0.95rem;
  margin-bottom: 6px;
}

.metasContainer {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px;
}

.metaCard {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.metaCard p {
  margin: 4px 0;
}

.btnSelecionar {
  padding: 7px 16px;
  background-color: #a88df0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btnSelecionar:hover {
  background-color: #8f78cc;
}

.btnInativar {
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 7px 16px;
}

.btnInativar:hover {
  background-color: #d42121;
}

.btnAtivar {
  background-color: #9b87f5;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 7px 16px;
}

.btnAtivar:hover {
  background-color: #7862d6;
}

.expandirButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent;
  color: #9b87f5;
  border: 1px solid #9b87f5;
  padding: 10px 16px;
  margin: 8px 8px 8px 8px !important;
  font-weight: 500;
  border-radius: 0.75rem !important;
}
