.containerMovimentacao {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: linear-gradient(to bottom, #ffffff, #e9e2f8);
  overflow: auto; /* Permite rolagem quando ultrapassa */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header button {
  background-color: #9b87f5;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.header button:hover {
  background-color: #7862d6;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination select {
  padding: 0.5rem;
  font-size: 1rem;
}

.paginationButton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationButton:hover {
  background-color: #2d81b9;
}

.paginationButton:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.btnEditar {
  background: #9b87f5;
  margin-left: 12px;
  border: none;
  padding: 7px 16px;
  border-radius: 6px;
  color: white;
}

.btnEditar:hover {
  background: #7862d6;
}

.btnExcluir {
  background-color: #ef4444;
  margin-left: 12px;
  border: none;
}
